<!DOCTYPE html>
<html>
<head>
    <title>Main game page</title>
    <meta charset="utf-8">
    <script src="game.js"></script><!-- <script>
         if (WebAssembly) {
         const go = new Go();
         WebAssembly.instantiateStreaming(fetch("game.wasm"), go.importObject).then((result) => {
         go.run(result.instance);
         });
         } else {
         document.getElementById('status').innerText = "WebAssembly is not supported in your browser";
         }
         </script> -->
</head>
<body>
    <p>Игрок: {{ .ID }}</p>
    <p>Комната: {{ .RoomID }}</p>
    <p>Счет: <label id="score">0</label></p>
    <p><label id="status"></label></p>
    <div class="rd_choice">
        <input type="radio" name="choice" id="choicePaper" value=
        "Paper"><label for="choicePaper">Paper</label> <input type=
        "radio" name="choice" id="choiceScissors" value=
        "Scissors"><label for="choiceScissors">Scissors</label>
        <input type="radio" name="choice" id="choiceRock" value=
        "Rock"><label for="choiceRock">Rock</label>
    </div><br>
    <button onclick="send()">Выбрать</button>
</body>
</html>
